$background: rgb(26, 26, 26);
$background-alter: rgb(8, 32, 40);
@mixin dots($count) {
  $box-shadow: ();
  @for $i from 0 through $count {
    $box-shadow: $box-shadow,
    (-.5+(random()) * 3) + em
    (-.5+(random()) * 3) + em
    7px
    rgba(18,28,32,((random() * 6) * 0.1));
  }
  box-shadow: $box-shadow;
}

html {
  overflow: hidden;
  background: $background;
}

body, head {
  display: block;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '';
  mix-blend-mode: screen;
  animation: 440s -270s move infinite ease-in-out alternate;
}


body::before {
  @include dots(5);
  animation-duration: 440s;
  animation-delay: -270s;
}

body::after {
  @include dots(5);
  animation-duration: 130s;
  animation-delay: -32s;
}

head::before {
  @include dots(5);
  animation-duration: 60s;
  animation-delay: -230s;
}

head::after {
  @include dots(5);
  animation-duration: 310s;
  animation-delay: -190s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
