@import "colors";

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
    (-.2+(random()) * 3) + em
    (-.2+(random()) * 3) + em
    3px
    rgba(70,70,70,((random() * 6) * 0.1));
  }
  text-shadow: $text-shadow;
}

html.background-circles {

//  background-color: $color-body;
  background-color: #0c0c0c;


body, head {
  display: block;
}

head::before, head::after,
body::before, body::after {
  font-family:  serif;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 440s -270s move infinite ease-in-out alternate;
}


body::before {
  font-size: 55px;
  @include dots(20);
  animation-duration: 440s;
  animation-delay: -270s;
}

body::after {
  font-size: 40px;
  @include dots(20);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  font-size: 35px;
  @include dots(20);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  font-size: 50px;
  @include dots(20);
  animation-duration: 410s;
  animation-delay: -190s;
}


}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
